---
import PageLayout from "@/layouts/Base.astro";

---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Libros!</h1>
		<p class="mb-4">
			Libros y Autores es una página web dedicada a los amantes de la lectura. Aquí encontrarás una amplia colección de libros de diversos géneros, junto con información detallada sobre sus autores. Explora sinopsis, reseñas y biografías para descubrir tu próxima lectura favorita.
		</p>
	</section>
</PageLayout>
